# ==========================================
# SAPA TRANS JOGJA - DOCKER ENVIRONMENT
# ==========================================

# Port Host VPS
FRONTEND_PORT=10
BACKEND_PORT=8010

# Laravel Application Config
APP_NAME=sapatransjogja
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

# MAPID API Key
MAPID_API_KEY=6a96793053df37905b3a5f4f
MAPID_DATA_KEY=6a967dda53df37905b3a5f58

# Supabase PostgreSQL Database
DB_CONNECTION=pgsql
DB_HOST=aws-0-ap-south-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.vvtphdknouhhasjyrzrb
DB_PASSWORD=lolosmapid123

# Google Gemini AI (Opsional untuk Chatbot)
GEMINI_API_KEY=
